.CartDetail {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    font-size: 1.25rem;
    min-height: 400px;
}

.CartDetail h1 {
    text-align: center;
    margin: 20px 0;
}

.CartDetail_table {
    border: none;
    position: relative;
}

.CartDetail_table table {
    width: 100%;
    text-align: center;
    border-collapse: collapse
}

.CartDetail_table .CartDetail_thead {
    padding-bottom: 20px;
    background-color: #111;
    color: #fff;
}

.item_img {
    width: 20%;
}

.CartDetail_table .CartDetail_tbody tr {
  border-bottom: 1px solid #ccc;
}

.CartDetail_table .CartDetail_tbody td img {
    width: 50%;
}

.CartDetail_table .CartDetail_count {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 125px;
}

.CartDetail_table .CartDetail_count button {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    font-size: 1.25rem;
    line-height: 30px;
    text-align: center;
    border: none;
    background-color: #ccc;
    color: #111;
    cursor: pointer;

}

.cart_total_wrap {
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.cart_total_wrap div {
    margin: 20px 0;
}