.DetailWrap {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DetailWrap .detail_img {
    flex: 50% 0 0;
}

.DetailWrap .detail_img img {
    width: 50%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.DetailWrap .detail_txt {
    flex: 50% 0 0;
    text-align: center;
}

.DetailWrap .detail_txt h3 {
    font-size: 24px;
}

.DetailWrap .detail_txt h4 {
    font-size: 20px;
    font-weight: normal;
    margin: 20px 0;
}

.DetailWrap .detail_txt p {
    font-size: 16px;
    margin: 20px 0;
}

.DetailWrap .detail_txt button {
    padding: 10px 16px;
    font-size: 16px;
    background-color: #FD565F;
    color: #fff;
    cursor: pointer;
    border: none;
}

.DetailWrap .detail_txt button.tempBtn {
    background-color: #777;
    cursor: default;
}