.Recent {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 10%;
    right: 10px;
    /* height: 300px; */
    padding: 10px;
    z-index: 999;
    border-radius: 5px;
    width: 120px;
    background-color: #fff;
}

.Recent p {
    text-align: center;
}

.Recent img {
    width: 80%;
    cursor: pointer;
}